name: CI Backend

on:
  push:
    paths:
      - 'backend-api/**'
  pull_request:
    paths:
      - 'backend-api/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build with Maven
        run: |
          cd backend-api
          ./mvnw test
